@import url("https://fonts.googleapis.com/css2 family=Poppins:wght@300&display=swap");

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  align-content: stretch;
  box-sizing: border-box;
  width: auto;
  height: auto;
  margin: auto;
}

/* --encabezado-- */

.header {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  justify-content: space-between;
  align-items: center;
  padding: 15px 36px 15px 36px;
  box-sizing: border-box;
  background-color: #fff;
  order: 0;
  margin: 0;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* --logo-- */

.L17 {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: 50%;
  height: 50%;
}

/* --burger or menu-- */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #be000b;
  margin: 3px 0;
}

.nav-links {
  display: none;
}

.navbar.active .nav-links {
  display: flex;
  position: absolute;
  flex-direction: column;
  left: 0;
  top: 0;
  background-color: #be0000;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  padding: 8rem 2rem;
}

.item-styles {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  color: #fefefe;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* --contenido-- */

.sectionIntro {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  justify-content: space-between;
  background-color: #be000b;
  align-items: start;
  order: 1;
  margin: 0;
}

.ContainerIntro {
  display: grid;
  flex-direction: row;
  justify-content: center;
  width: auto;
  height: auto;
  background-color: #fefefe;
  margin: 10px 10px 10px 10px;
  border-radius: 50px;
}

.main-text {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin: 114px 24px;
  margin: 10px 10px 10px 10px;
}

.main-text h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 35px;
  color: #be000b;
  text-align: center;
  margin: 10px 10px 10px 10px;
}

.Iface {
  height: auto;
  width: auto;
  margin: 10px 10px 10px 10px;
}

.main-text h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  color: #be000b;
  text-align: justify;
  margin: 10px 10px 10px 10px;
}

.main-text h5 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  color: #be000b;
  text-align: justify;
  margin: 10px 10px 10px 10px;
}

.social-icons {
  margin: 10px 10px 10px 10px;
  justify-content: center;
  align-items: center;
}

.main-textI {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  color: #be000b;
  text-align: justify;
  margin: 10px 10px 100px 10px;
}

#icons {
  width: 40px;
  height: 100px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
  list-style-type: none;
  justify-content: space-between;
  align-items: start;
  padding-left: 5px;
}

.sectionapoyo {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  justify-content: space-between;
  background-color: #be000b;
  align-items: start;
  order: 2;
  margin: 0;
}

.secapo h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 70px;
  color: #fefefe;
  text-align: center;
  margin: 10px 10px 10px 10px;
}

.Iface1 {
  height: 90%;
  width: 90%;
  justify-content: center;
  align-items: center;
}

.Iface11 {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.sectionconcejo {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  justify-content: center;
  background-color: #be000b;
  align-items: start;
  order: 3;
  margin: 0;
}

.btn {
  color: #be0000;
  border: 2px solid #000;
  background-color: #fff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 24px;
  letter-spacing: 0.03em;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  padding: 12px;
  width: 45%;
  margin: 20px 30% 20px 30%;
}

/* --popup-- */

.popup1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #fefefe;
  text-decoration: none;
  text-align: justify;
}

.popup2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #fefefe;
  text-decoration: none;
  text-align: justify;
}

/* --form-- */

.formulario {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  padding: 20px;
  border: 2px solid #fefefe;
  background-color: #be000b;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 40px;
  align-items: start;
  order: 4;
  margin: 0;
}

.formi {
  color: #fefefe;
  text-align: center;
  margin-bottom: 20px;
  margin-left: 42%;
  margin-right: 42%;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

label {
  color: #fefefe;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #fefefe;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

button {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  background-color: #fefefe;
  color: #be0000;
  border: 2px solid #000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: #be0000;
  color: #fefefe;
}

.footer {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  justify-content: space-between;
  align-items: center;
  padding: 50px 36px 15px 24px;
  box-sizing: border-box;
  background-color: #fefefe;
  order: 4;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .bar {
    display: none;
  }

  .burger-menu {
    display: none;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    margin: 3px 3px 3px 3px;
    justify-content: space-between;
  }

  .item-styles {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: #be000b;
    text-decoration: none;
    align-items: start;
    padding: 0 20px 0 20px;
    text-align: center;
  }

  .main-text {
    flex-direction: row;
  }

  .secint1 {
    margin: 10px 10px 10px 10px;
  }

  .secint2 {
    margin: 100px 10px 10px 50px;
  }

  .secapo h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 85px;
    color: #fefefe;
    text-align: center;
    margin: 10px 10px 10px 10px;
  }
}

@media screen and (min-width: 1100px) {
  .secint1 {
    margin: 20px 20px 20px 20px;
    width: 250px;
    height: auto;
  }

  .secint2 {
    margin: 100px 20px 20px 50px;
  }

  .main-text h2 {
    font-size: 40px;
    margin-bottom: 50px;
  }

  .main-text h5 {
    font-size: 30px;
    color: #be000b;
  }

  .Iface {
    width: 100%;
    height: 100%;
  }

  .secapo h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 120px;
    color: #fefefe;
    text-align: center;
    margin: 10px 10px 10px 10px;
  }

  .Iface11 {
    margin-left: 50px;
    margin-bottom: 30px;
    height: 100%;
    width: 100%;
  }
}
